.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
  overflow: auto;
}

.isbn-col {
  flex: 0 0 100px !important;
  white-space: unset !important;
}
.mat-header-cell {
  background-color: #17a2b8 ;
}
.button-row {
  margin: 10px 0;
}

.bg {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSEbgxcJ5e6TydDjvU41zrqhXp2t5cW-B76NCC0fkXDH87umqxC");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
