.bg {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSEbgxcJ5e6TydDjvU41zrqhXp2t5cW-B76NCC0fkXDH87umqxC");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
